h1 {
  font-family: Calibri;
  font-size: 36px;
  color: SeaGreen;
}

p {
  font-family: Calibri;
  font-size: 18px;
}

ul {
  font-family: 'Georgia', 'Times', serif;
  font-size: 18 px;
}